@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, #app {
  height: 100%;
  padding: 0;
  margin: 0;
}

:root {
  --background: #e0e0e0;

  @layer components {
  
  }
}

@media only screen and (max-width: 600px) {
  .appear-enter {
    opacity: 0;
    transform: translateY(200px);
  }
  .appear-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 300ms, transform 300ms;
  }
  .appear-exit {
    opacity: 1;
  }
  .appear-exit-active {
    opacity: 0;
    transform: translateY(200px);
    transition: opacity 300ms, transform 300ms;
  }
  
}
@media only screen and (min-width: 600px) {
  .appear-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .appear-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
  }
  .appear-exit {
    opacity: 1;
  }
  .appear-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }  
}
/* 
.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.slide-enter {
  opacity: 0;
  transform: translateY(200px);
}
.slide-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms, transform 300ms;
}
.slide-exit {
  opacity: 1;
}
.slide-exit-active {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 300ms, transform 300ms;
} */